<VirtualHost *:80>
	ServerAdmin proteomescout@seas.wustl.edu

	DocumentRoot /data/ptmscout/maintenance

	<Directory /data/ptmscout/maintenance/>
		Options MultiViews
		AllowOverride All
		Order allow,deny
		allow from all
	</Directory>

	ErrorLog ${APACHE_LOG_DIR}/error.log
	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn
</VirtualHost>
