#subset-select {
	margin-left:50px;
	margin-right:50px;
}

.filter-set fieldset {
	border:solid 1px black; 	
}

.filter-set fieldset legend {
	font-size:medium;	
}

.filter-set {
	background-color:#33CFDB;
	border: solid 2px black;
	padding: 20px;
	margin-bottom: 10px;
}

.subset-content fieldset legend {
	font-size:medium;
}

.condition-boolean {
	float:left;
	width:75px;
	text-align:left;
	font-weight:bold;
}

.condition-title {
	float:left;
	width:80px;
	text-align:left;
	font-weight:bold;
}

.condition-op {
	margin-left:10px;
	margin-right:10px;
}

.condition-arg {
	margin-left:5px;
	margin-right:5px;
}

.frequency-charts table {
	margin-left:auto;
	margin-right:auto;
	border-collapse:collapse;	
}
.frequency-charts table th{
	font-size:medium;
	border-bottom: solid 1px black;
}

.frequency-charts table td{
	padding:20px;
}

td.numeric {
	text-align:right;
}

tr.significant {
	font-weight: bold;
}

tr.significant td.peptide {
	font-weight: normal;
}

tr.significant td.pvalue {
	color: red;
}

tr.notsignificant {
	display: none;
}

.motifs table, .enrichment-table {
	border-collapse:collapse;
	border: solid 1px black;
	margin-left:auto;
	margin-right:auto;
}

.motifs td{
	padding-bottom:10px;
}

.motifs th, .enrichment-table th {
	padding-left:5px;
	padding-right:5px;
	background:#CCC;
}

.motifs tr.even {
	background:#FFF;
}

.motifs tr.odd {
	background:#CCC;
}