.errortext {
	color:red;
	text-align:center;
}

.experiment-group .group-title {
    margin-top:20px;
    width:90%;
	margin-left:auto;
	margin-right:auto;
    font-size:medium;
}

.experimenttable {
	border-collapse: collapse;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	border:solid;
	border-width:1px;
	border-color:black;
}

.experimenttable .expander {
    width:30px;
}

.experimenttable th {
	background:blue;
	color:white;
	padding-left:10px;
	padding-right:10px;
}

.experimenttable td {
	font-size:13px;
	vertical-align:top;
}

.experimenttable .status {
	font-weight:bold;
}

.experimenttable .progress {
	color:red;
	vertical-align:center;
}

.experimenttable .accesscontrol {
	text-align:center;
	border-left-style:solid;
	border-left-width:1px;
	border-left-color:black;
}

.experimenttable td.citation {
	font-size:16px;
}

.experimenttable tr.odd {
	background:white;
}
.experimenttable tr.even {
	background:#9999cc;
}

.restricted {
	font-weight:bold;
}

.predictions .source {
	text-align:left;
	font-weight:bold;
}

.predictions .name {
	float:left;
	width:200px;
	margin-left:10px;
}

.predictions .data_table .value{
	width:50px;
	text-align:right;
}

table.summary_quantity {
	width:200px;
	margin-top:10px;
	margin-bottom:20px;
}

.summary_quantity .field {
	float:left;
	width:150px;
	font-weight:bold;
}

.summary_quantity .value {
	text-align:right;
}

table.experiment_summary {
	margin-left:auto;
	margin-right:auto;
	width:600px;
	border-collapse:collapse;
	border: solid 1px black;
}

table.experiment_summary th {
	background:black;
	color:white;
}

table.experiment_summary td.listing {
	vertical-align:top;
	border-left: solid 1px black;
	border-right: solid 1px black;
}


.section_group {
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	margin-bottom:50px;
	width:750px;
}

.section_group .body {
	text-align:center;
}

.section_group .title {
	font-weight:bold;
	padding:10px;
	border:solid 1px black;
	margin-bottom:10px;
}

.data_table {
	float:left;
	width:275px;
}

.data_table table, .GO_table table{
	width:100%;
	border:solid 1px black;
	border-collapse:collapse;
}

.data_table th, .GO_table th {
	color:white;
	background:black;
	padding-left:10px;
	padding-right:10px;
}

.data_table .value, .GO_table .value {
	text-align:right;
}

.data_chart {
	float:right;
}


.seqdata {
	display:none;
}

.seqchart {
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
}

.GO_map {
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	
	width:1000px;
}

.number_col {
	width:100px;	
}

.GO_table .table_title {
	font-weight:bold;
	margin-bottom:10px;
}

.GO_table {
	margin-top:10px;
	margin-bottom:30px;
	margin-left:auto;
	margin-right:auto;
	width:800px;
}

.resolution_steps li {
	text-align:left;
}

table.error_listing {
	width:730px;
	margin-left:auto;
	margin-right:auto;
	border: solid 1px black;
	border-collapse: collapse;
	text-align:left;
	font-size:12px;
}

table.error_listing th {
	color:white;
	background:black;
	padding-right:10px;
	font-size:14px;
}

table.error_listing th.min {
	width:auto;
}

table.error_listing th.max {
	width:100%;
}

#result_pager {
    width:100%;
    text-align:center;
    margin-top:0.2em;
    margin-bottom:0.2em;
}

table.experiment_list {
    border: solid 1px black;
    border-collapse: collapse;
    text-align:left;
}

table.experiment_list .title {
    text-align:center;
}

table.experiment_list th {
    background-color: #ddd;
}

table.experiment_list .entry {
    background-color:white;
    border:none;
    cursor:pointer;
}

table.experiment_list .entry:hover {
    background-color:#33CFDC;
    border:none;
}

table.experiment_list .entry text {
    pointer-events:none;
}
table.experiment_list .entry.marked {
    background-color:#A3A510;
}
