.loginform, .wideform {
	margin-top:20px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	width: 350px;
}

.wideform {
	width: 500px;
}

.wideform table {
	table-layout:fixed;
	width:100%;
	border-collapse:collapse;
}

td.fieldname {
	width:150px;
}

.formcategory {
	border:solid;
	border-width:2px;
	border-color:black;
	font-weight:bold;
	font-size:14pt;	
}

.formagreement {
	float:left;
}

.formsubmission {
	float:right;
}

.errorbox {
	background:#FF3333;
	padding:10px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	width:75%;
}

.stretch {
	width:100%;
}