.wizard-breadcrumb {
    list-style: none;
    overflow: hidden;
    font: 14px Helvetica,font Arial, Sans-Serif;
}

.wizard-breadcrumb li {
    float: left;
    background: #009CA9;
    color: white;
}

.wizard-breadcrumb li:first-child a, .breadcrumb li:first-child span {
    padding-left: 10px;
}

.wizard-breadcrumb li.current {
    float: left;
    background: #A3A510;
    color: white;
}

.wizard-breadcrumb li.future {
    float: left;
    background: black;
    color: #D3D3D3;
}

.wizard-breadcrumb li span, .wizard-breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 5px 0 5px 35px;
    position: relative;
    display: block;
    float: left;
}

.wizard-breadcrumb li span:after, .wizard-breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #009CA9;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.wizard-breadcrumb li.current span:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #A3A510;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.wizard-breadcrumb li.future span:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid black;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.loginform, .wideform {
	margin-top:20px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	width: 350px;
}

.wideform {
	width: 500px;
}

.wideform table {
	table-layout:fixed;
	width:100%;
	border-collapse:collapse;
	margin-bottom:10px;
}

td.fieldname {
	width:150px;
}

.formcategory {
	border:solid;
	border-width:2px;
	border-color:black;
	font-weight:bold;
	font-size:14pt;  
}

.formagreement {
	float:left;
}

.formsubmission {
	float:right;
}

.errorbox {
	background:#FF3333;
	padding:10px;
	margin-bottom:1em;
}
.newform .errorbox {
  margin-top:-1em;
}
.errortext {
	overflow:visible;
	white-space:nowrap;
	color:red;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	width:75%;
}

.stretch {
	width:100%;
}

.hidden {
	display:none;
}

.formfooter {
	margin-top:10px;
	font-size:14px;
}

.error_display {
    margin:10px;
    padding:10px;
    border: solid 1px black;
    background:#FF88AA;
}

form.newform {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #333;
  border-radius: 5px;
  padding-bottom: 1em;
  padding-top:1em;
}

form.newform label {
  text-align: right ;
}

form.newform .formfields {
  display: block;
  height: 2em;
}
form.newform.noborder {
  border:none;
}
form.newform.align-left {
  margin-left:1em;
}

form.newform input[type='text'], form.newform input[type='password'] ,form.newform textarea {
  border: 1px solid #333;
  border-radius: 2px;
  padding-top:2px;
  padding-bottom: 2px;
}
.right-align {
  text-align:right;
}
