.data {
	display:none;
}

.chart {
	margin-left:auto;
	margin-right:auto;
}

.GO text {
  pointer-events: none;
}

.GO circle {
  pointer-events: all;
}

.GO circle.parent:hover {
  stroke: #ff7f0e;
  stroke-width: .5px;
}

.GO circle.child {
  pointer-events: none;
}

.absolute-lr {
	position: absolute;
	bottom: -15px;
	right: 0px;
}
