.data {
	display:none;
}

.chart {
	margin-left:auto;
	margin-right:auto;
}

.chart .series {
	fill:none;
	stroke-width:2px;
	opacity:0.8;
}

.chart .point {
	fill:none;
	stroke-width:1px;
}

.chart .tick {
	font-size:9pt;
}

.chart .tick line {
	fill:black;
	stroke:black;
}

.chart .axis {
	fill:black;
	stroke:black;
	stroke-width:1px;
}

.chart .title {
	fill:black;
	font-size:14pt;
	text-anchor:middle;
}

.chart .label {
	fill:black;
	font-size:12pt;
	text-anchor:middle;
}

.chart .legend .bg {
	fill:none;
	stroke:black;
	stroke-width:1px;
}

.chart .legend .entry {
	fill:black;
	font-size:9pt;
	text-anchor:left;
}

.chart .legend circle {
	fill:none;
	stroke-width:1px;
}

.chart .legend rect {
	stroke:lightgray;
	stroke-width:1px;	
}

.chart .errorbar line {
	stroke-width:2px;
}

.chart .bar {
	stroke:lightgray;
	stroke-width:1px;
}

.piechart {
	text-anchor:start;
}

.piechart .category_name {
	fill:black;
	font-size:10pt;
}

.piechart .outline {
	fill:lightgray;
}