.ptm_metadata {
    margin-top:1em;
    margin-bottom:1em;
    margin-left:auto;
    margin-right:auto;
    width:1000px;
}

.protein_viewer {
    margin-left:auto;
    margin-right:auto;
    width:900px;
    margin-top:20px;
    margin-bottom:20px;
	border:solid 1px black;
}

.protein_viewer .data{
    display:none;
}

.protein_viewer .toolkit {
    width:900px;
	border-collapse: collapse;
	margin-left:auto;
	margin-right:auto;
    background: #AAA;
}

.toolkit button {
    margin:5px;
    margin-right:0px;
}

.protein_viewer .viewer{
    width:900px;
}

.ui-dialog ul {
    vertical-align: top; 
    margin: 0; 
    padding: 0; 
    list-style: none;
}

.track-label {
    fill:#999;
}

.viewer .strand {
    stroke:black;
    stroke-width:2px;
}

.viewer .domain {
    stroke:black;
    stroke-width:1px;
    cursor:pointer;
}

.viewer text.domain {
    stroke:none;
    fill:black;
    font-size: 12pt;
    cursor:default;
}

.viewer .region {
    stroke:black;
    stroke-width:1px;
}

.viewer text.region {
    stroke:none;
    fill:black;
    font-size: 12pt;
}

.viewer line.tick {
    stroke-width:1;
}
.viewer line.t5000 {
    stroke:#000;
}
.viewer line.t1000 {
    stroke:#222;
}
.viewer line.t500 {
    stroke:#444;
}
.viewer line.t100 {
    stroke:#666;
}
.viewer line.t50 {
    stroke:#888;
}
.viewer line.t10 {
    stroke:#AAA;
}

.viewer text.tick {
    font-size:8pt;
}
.viewer text.t5000 {
    fill:#000;
}
.viewer text.t1000 {
    fill:#222;
}
.viewer text.t500 {
    fill:#444;
}
.viewer text.t100 {
    fill:#666;
}
.viewer text.t50 {
    fill:#888;
}
.viewer text.t10 {
    fill:#AAA;
}

.viewer text.aminoacid {
}

.viewer .zoom.window {
    opacity: 0.3;
    fill: #666;
    cursor: move;
}

.viewer .handle {
    opacity: 0;
    cursor: col-resize;
}

