.ptm_metadata {
    margin-top:1em;
    margin-bottom:1em;
    margin-left:auto;
    margin-right:auto;
}

.protein_viewer {
    margin-left:auto;
    margin-right:auto;
    width:900px;
    margin-top:20px;
    margin-bottom:20px;
	border:solid 1px black;
}

.protein_viewer .data{
    display:none;
}

.protein_viewer .toolkit {
    width:900px;
	border-collapse: collapse;
	margin-left:auto;
	margin-right:auto;
    background: #AAA;
}

.toolkit button {
    margin:5px;
    margin-right:0px;
}

.protein_viewer .viewer_svg{
    width:900px;
}

.ui-dialog ul {
    vertical-align: top; 
    margin: 0; 
    padding: 0; 
    list-style: none;
}

.viewer_svg .track-label {
    fill:#999;
}

.viewer {
    cursor:text;
}

.viewer_svg {
    font-family: helvetica,arial,verdana;
    font-size:12pt;
}

.viewer_svg circle {
    cursor:default;
}

.viewer_svg .strand {
    stroke:black;
    stroke-width:2px;
    cursor:default;
}

.viewer_svg .domain {
    stroke:black;
    stroke-width:1px;
    cursor:pointer;
}

.viewer_svg text {
    cursor:default;
    pointer-events:none;
}

.viewer_svg text.domain {
    stroke:none;
    fill:black;
    font-size: 12pt;
}

.viewer_svg .region {
    stroke:black;
    stroke-width:1px;
    cursor:default;
}

.viewer_svg text.region {
    stroke:none;
    fill:black;
    font-size: 12pt;
}

.viewer_svg line.tick {
    stroke-width:1;
}
.viewer_svg line.t5000 {
    stroke:#000;
}
.viewer_svg line.t1000 {
    stroke:#222;
}
.viewer_svg line.t500 {
    stroke:#444;
}
.viewer_svg line.t100 {
    stroke:#666;
}
.viewer_svg line.t50 {
    stroke:#888;
}
.viewer_svg line.t10 {
    stroke:#AAA;
}

.viewer_svg text.tick {
    font-size:8pt;
}
.viewer_svg text.t5000 {
    fill:#000;
}
.viewer_svg text.t1000 {
    fill:#222;
}
.viewer_svg text.t500 {
    fill:#444;
}
.viewer_svg text.t100 {
    fill:#666;
}
.viewer_svg text.t50 {
    fill:#888;
}
.viewer_svg text.t10 {
    fill:#AAA;
}

.viewer_svg text.aminoacid {
}

