.GO_list {
	margin-top:15px;
}

.GO_id {
	
}

.GO_term {
	margin-left:20px;
}

.expression_form {
	background-color: #ccccff;
	border: 1px gray solid;
	width: 100%;
	padding: 3px;
	padding-left:20px;
}

.expression_data {
	display:none;

}

.expression_form_entry {
	margin-right:50px;
}

.expression_chart {
	width:90%;
	margin-left:auto;
	margin-right:auto;
	text-align:justify;
}

.expression_level {
    stroke:white;
    fill:steelblue;
}

.expression_float {
	font:10px sans-serif;
	fill:black;
}

.expression_tissue {
	font:11px sans-serif;
	fill:black;
}

.expression_chart table {
	margin-left:auto;
	margin-right:auto;
}

#proteinInfo {
  margin-top: 1em;
  margin-bottom: 1em;
 
  margin-left:auto;
  margin-right: auto;
  
  width:800px;
}

#proteinInfo legend {
	text-align:center;
}

#proteinMenu {
  text-indent: 0.2em;
  border-bottom: 2px solid #333399;
}

.search_form {
	margin-top:40px;
	margin-bottom:20px;
}

.search_results {
    margin-top: 1em;
    margin-bottom: 1em;

    margin-left:auto;
    margin-right: auto;
    width:90%;
}

.result_count {
	margin-left:auto;
	margin-right:auto;
	width:200px;
}

.search_results table {
	border-collapse: collapse;
	width:95%;
	margin-left:auto;
	margin-right:auto;
	border:solid;
	border-width:1px;
	border-color:black;	
}

.search_results td{
	padding-bottom:10px;
}

.search_results th{
	background:#CCC;
}

tr.even {
	background:#FFF;
}

tr.odd {
	background:#CCC;
}

.errortext {
	color:red;
}

.experiment_data .data {
	border-top-style:solid;
}

.experiment_data {
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;
	width:40%;
	border:solid;
	border-width:1px;
	border-color:black;
}
