.GO_list {
	margin-top:15px;
}

.GO_id {
	
}

.GO_term {
	margin-left:20px;
}

.errortext {
	text-align:center;
}

.expression_form {
	background-color: #ccccff;
	border: 1px gray solid;
	width: 100%;
	padding: 3px;
	padding-left:20px;
}

.expression_data {
	display:none;
}

.expression_form_entry {
	margin-right:50px;
}

.expression_chart {
	width:90%;
	margin-left:auto;
	margin-right:auto;
	text-align:justify;
}

.expression_level {
    stroke:white;
    fill:steelblue;
}

.expression_float {
	font:10px sans-serif;
	fill:black;
}

.expression_tissue {
	font:11px sans-serif;
	fill:black;
}

.expression_chart table {
	margin-left:auto;
	margin-right:auto;
}

#proteinInfo {
  margin-top: 1em;
  margin-bottom: 1em;
 
  margin-left:auto;
  margin-right: auto;
  
  width:800px;
}

#proteinInfo legend {
	text-align:center;
}

#proteinMenu {
  text-indent: 0.2em;
  border-bottom: 2px solid #333399;
}

.search_form {
	margin-top:40px;
	margin-bottom:20px;
}

.search_results {
    margin-top: 1em;
    margin-bottom: 1em;

    margin-left:auto;
    margin-right: auto;
    width:90%;
}

.result_count {
	margin-left:auto;
	margin-right:auto;
	width:200px;
}

.search_results table {
	border-collapse: collapse;
	width:95%;
	margin-left:auto;
	margin-right:auto;
	border:solid;
	border-width:1px;
	border-color:black;	
}

.search_results td{
	padding-bottom:10px;
}

.search_results th{
	background:#CCC;
}

tr.even {
	background:#FFF;
}

tr.odd {
	background:#CCC;
}

.errortext {
	color:red;
}

.experiment {
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	margin-bottom:50px;
	width:750px;
}

.experiment_data .run {
	display:none;
}

.experiment_data {
	text-align:center;
}

.experiment_title {
	padding:10px;
	border:solid 1px black;
}

.chart {
	margin-left:auto;
	margin-right:auto;
}

.chart svg {
/*	border:solid 1px grey; */
}

.chart .series {
	fill:none;
	stroke-width:2px;
	opacity:0.8;
}

.chart .point {
	fill:none;
	stroke-width:1px;
}

.chart .tick {
	font-size:9pt;
}

.chart .tick line {
	fill:black;
	stroke:black;
}

.chart .axis {
	fill:black;
	stroke:black;
	stroke-width:1px;
}

.chart .title {
	fill:black;
	font-size:14pt;
	text-anchor:middle;
}

.chart .label {
	fill:black;
	font-size:12pt;
	text-anchor:middle;
}

.chart .legend .bg {
	fill:none;
	stroke:black;
	stroke-width:1px;
}

.chart .legend .entry {
	fill:black;
	font-size:9pt;
	text-anchor:left;
}

.chart .legend circle {
	fill:none;
	stroke-width:1px;
}

.chart .legend rect {
	stroke:lightgray;
	stroke-width:1px;	
}

.chart .errorbar line {
	stroke-width:2px;
}

.chart .bar {
	stroke:lightgray;
	stroke-width:1px;
}