body {
  margin: 0px;
  padding: 0px;
  margin-left: 5em;
  margin-right: 5em;
  background-color: white;
  font-family:sans-serif;
  font-size:small;
}

table {
    font-size: small;
}

#page {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 1px solid gray;
}

#menu {
  background-color: white;
  color: blue;
  height: 1.4em;
  margin-left: auto;
  margin-right: auto;
}

#menu a {
  color: blue;
  text-decoration:none;
}

.split {
    width:100%;
    border:solid 1px black;
}

#splash {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:800px;
}

#portal {
    width:800px;
    height:700px;
    position:relative;
}

#portal .menusplash {
    width:600px;
    height:600px;
    margin-left:100px;
    margin-right:100px;
}

#portal .menuitem {
    -webkit-border-radius: 65px;
    -moz-border-radius: 65px;
    border-radius: 65px;
    width:120px;
    height:120px;
    text-align:center;
    background-color:#009CA9;
    border: 5px solid #008B98;
    position:absolute;
    line-height: 120px;
    cursor:pointer;
}

#portal a:active, #portal a:visited, #portal a:hover, #portal a:link {
    color:white;
    font-size:14pt;
}

#portal .menuitem:hover {
    border: 5px solid #A3A510;
}

#portal .menuitem:active {
    background-color: #A3A510;
}

#portal .menuitem span {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.notification {
    padding:10px;
    border: solid 1px black;
    background:#99FF00;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
    margin-bottom:1em;
    width:600px;
}

.paginator {
    text-align:center;
    width:100%;
}

.clear {
   height: 0;
   font-size: 1px;
   margin: 0;
   padding: 0;
   line-height: 0;
   clear: both;
}

tr th {
 text-align:left;
}
a img {
 border:none;
}

dd {
  margin-bottom: 1em;
}

#breadcrumb {
  text-indent: 0.2em;
  border-top: 2px solid #333399;
  border-bottom: 2px solid #333399;
}
#experimentMenu {
  text-indent: 0.2em;
  border-bottom: 2px solid #333399;
}
#experimentInfo {
  margin-top: 1em;
  margin-bottom: 1em;
 
  margin-left:auto;
  margin-right: auto;

  text-align: center;
}
#content {
  bottom: 0;	
  text-indent: 0.2em;  
}

#footer {
  margin-top: 1em;
  clear: both;
  width: 100%;
  text-align: center;
  font-size: 10pt;
  background-color:#33CFDB;
  color: black;
}

hr { border: 0 }

fieldset {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-weight: bold;
}

div.nested_content {
 width: 95%;
 margin-left: auto;
 marg	in-right: auto;
}

div.metadata_search {
  border: 1px solid gray
  padding: 0.2em;
}

p.search_reset {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

div.subset_search fieldset {
  width: 95%;
  border-color: black;
  margin-bottom: 1em;
}

legend {
 font-weight: bold;
}

table#cluster_table {
  width: 90%;
  margin-left: 2em;
  margin-right: auto;
}

table#cluster_table td {
  border: 1px solid gray;
}

img.help {
  vertical-align:text-top;
}

ul.no_bullet {
  list-style-type: none; 
  padding: 0;
  margin-left: 0.5em;
}


/** Stuff for the protein details page */
table#gene_ontology_breakdown {
  border: 1px solid black;   
  width: 100%;
}

table#gene_ontology_breakdown th {
  background-color: black;
  color: white; 
  width:33%;
}

table#gene_ontology_breakdown * {
 text-indent: 0.2em;
}


div.protein_navigation {
  margin-bottom: 1em; 
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

table#peptide_table {
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
  margin-top:1em;
  width: 95%;
  border: 1px solid black;   
  max-width: 1024px;
}

table#peptide_table th {
  background-color: black;
  color: white; 
}
table#peptide_table th,td {
 padding-left: 0.5em;
 padding-right: 0.5em;
}
table#peptide_table td {
 border: 1px solid black;
}

table#peptide_table li {
  margin-bottom: 0.5em;
}

table#peptide_table tr.odd {
  background-color: #DDDDDD;
}


div#canvas 
{
  height: 400px;
  top: 0px;
}
/** End stuff for the protein details page */

/** Stuff for drawing sections of a page */
div.section {
 width: 95%;
 margin-left: auto;
 margin-right: auto;
}
/** End Stuff for drawing sections of a page */

