
* {
	margin: 0;
}
html, body {
	height: 100%;
}

body {
  font-size:12pt;
  font-family: helvetica,arial,verdana;
  height: auto;
  background-color: #ccc;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited{
  color: blue;
}


#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -200px; /* the bottom margin is the negative value of the footer's height */
	background-color:gray;
	margin-left: auto;
	margin-right:auto;
}
#wrapper_container {
  width: 960px;
  background-color: white;
  margin-left:auto;
  margin-right:auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  border-left: 2px solid #666;
  border-right: 2px solid #666;
}
#footer, #push {
  padding-top: 1em;
	height: 200px; /* .push must be the same height as .footer */
}


table {
    font-size: small;
}


.waiting-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .9 );
}


#page, #wrapper {
  background-color: #ccc;
}

#content {
}
#content .container_12,
#breadcrumb .container_12,
#header .container_12
{
  background-color: white;
}

#menu {
  background-color: black;
  color: white;
  height: 60px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
}

#menu a {
  color: white;
}
#menu a:hover {
  color: blue;
}

#breadcrumb {
}
#breadcrumb .container_12 {
  text-indent: 0.2em;
  border-top: 2px solid #666;
  border-bottom: 2px solid #666;
  color: #666;
}

#content { }
#content .container_12 {
  bottom: 0;	
}

#experimentMenu, #experimentSummaryMenu {
  height: 24px;
  padding-left: 10px;
  border-bottom: 2px solid #666;
}
#experimentMenu {
  background-color: #009999;
}
#experimentMenu a, #experimentSummaryMenu a{
  color: white;
}
#experimentMenu a:hover, #experimentSummaryMenu a:hover {
  color: blue;
}
#experimentSummaryMenu {
  background-color: #00AAAA;
}

#footer {
  background-color: black;
}
#footer .container_12 {
  height: 200px;
  font-size: 10pt;
  color: white;
}
#footer a {
  color: #009999;
}
ul.link_menu
{
  display: block;
  margin-bottom: 0;
}
ul.link_menu li
{
  margin-left: 1em;
  float: left;
  list-style: none outside none;
}
ul.link_menu li:first-child {
  margin-left: 0;
}


.split {
    width:100%;
    border:solid 1px black;
}

#splash {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:800px;
}

#portal {
    width:800px;
    height:700px;
    position:relative;
}

#portal .menusplash {
    width:600px;
    height:600px;
    margin-left:55px;
    margin-right:auto;
    padding-top:20px;
}

#portal .menuitem {
    -webkit-border-radius: 65px;
    -moz-border-radius: 65px;
    border-radius: 65px;
    width:120px;
    height:120px;
    text-align:center;
    background-color:#009CA9;
    border: 5px solid #008B98;
    position:absolute;
    line-height: 120px;
    cursor:pointer;
}

#portal .inactive {
    -webkit-border-radius: 65px;
    -moz-border-radius: 65px;
    border-radius: 65px;
    width:120px;
    height:120px;
    text-align:center;
    position:absolute;
    line-height: 120px;
	opacity:0.5; 
	background-color:gray; 
	border: solid 5px gray; 
	cursor: default;
}

#portal a:active, #portal a:visited, #portal a:hover, #portal a:link {
    color:white;
    font-size:medium;
}

#portal .menuitem:hover {
    border: 5px solid #A3A510;
}

#portal .menuitem:active {
    background-color: #A3A510;
}

#portal .menuitem span, #portal .inactive span {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    color:white;
}

.notification {
    padding:10px;
    border: solid 1px black;
    background:#99FF00;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
    margin-bottom:1em;
    width:600px;
}

.paginator {
    text-align:center;
    width:100%;
}

.clear {
   height: 0;
   font-size: 1px;
   margin: 0;
   padding: 0;
   line-height: 0;
   clear: both;
}

/* Generic Table Styles */

table {
  margin-top:1em;
	border-collapse: collapse;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	border:solid;
	border-width:1px;
	border-color:black;
}

th, td {
 padding-left: 0.5em;
 padding-right: 0.5em;
}

th {
  text-align:left;
  background:#333;
  color:white;
  padding-top: 0.3em;
  padding-bottom:0.3em;
}
td {
	vertical-align:top;
}
tr.odd {
	background:white;
}
tr.even {
	background:#DDD;
}
/* end of generic table styles */
a img {
 border:none;
}

dd {
  margin-bottom: 1em;
}

#experimentInfo {
  margin-top: 1em;
  margin-bottom: 1em;
 
  margin-left:auto;
  margin-right: auto;

  text-align: center;
}


hr { border: 0 }

fieldset.object-info {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-weight: bold;
}

div.nested_content {
 width: 95%;
 margin-left: auto;
 marg	in-right: auto;
}

div.metadata_search {
  border: 1px solid gray
  padding: 0.2em;
}

p.search_reset {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

div.subset_search fieldset {
  width: 95%;
  border-color: black;
  margin-bottom: 1em;
}

legend {
 font-weight: bold;
}

table#cluster_table {
  width: 90%;
  margin-left: 2em;
  margin-right: auto;
}

table#cluster_table td {
  border: 1px solid gray;
}

img.help {
  vertical-align:text-top;
}

ul.no_bullet {
  list-style-type: none; 
  padding: 0;
  margin-left: 0;
}
ul.no_bullet li {
  margin-left: 0;
}


/** Stuff for the protein details page */
table#gene_ontology_breakdown {
  border: 1px solid black;   
  width: 100%;
}

table#gene_ontology_breakdown th {
  background-color: black;
  color: white; 
  width:33%;
}

table#gene_ontology_breakdown * {
 text-indent: 0.2em;
}


div.protein_navigation {
  margin-bottom: 1em; 
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

table#peptide_table {
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
  margin-top:1em;
  width: 95%;
  border: 1px solid black;   
  max-width: 1024px;
}

table#peptide_table li {
  margin-bottom: 0.5em;
}


div#canvas 
{
  height: 400px;
  top: 0px;
}
/** End stuff for the protein details page */

/** Stuff for drawing sections of a page */
div.section {
 width: 95%;
 margin-left: auto;
 margin-right: auto;
}
/** End Stuff for drawing sections of a page */

