.loginform {
	margin-top:20px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	width: 350px;
}

.loginform .fieldname {
	width:150px;
}

.formcategory {
	border:solid;
	border-width:2px;
	border-color:black;
	font-weight:bold;
	font-size:14pt;	
}

.formsubmission {
	float:right;
}

.infobox {
	border:solid;
	border-width:1px;
	border-color:black;
	background:#99CCFF;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:20px;
	width: 600px;

}

.forbiddenheader{
	padding:10px;
	background:#EE1133;
	font-size:18pt;
	font-weight:bold;
}

.infoheader {
	padding:10px;
	background:#77AADD;
	font-size:18pt;
	font-weight:bold;
}

.infotext {
	padding:20px;
}

.errorbox {
	background:#FF3333;
	padding:10px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	width:60%;
}

.experimenttable th {
	background:blue;
	color:white;
}

.experimenttable td {
	font-size:13px;
	vertical-align:top;
}

td.citation {
	font-size:16px;
}

tr.odd {
	background:white;
}
tr.even {
	background:#9999cc;
}